body {
    right: 0;
    padding: 0;
}

nav {
    display: flex;
    width: 20px;
    justify-content: space-around;
    padding-left: 2em;
    margin-left: auto;

}
a:hover { 
    text-decoration: underline;
}
nav a {
    color: black;
    text-decoration: none;
    justify-content: space-around;
    margin-right: 10px;
    display: inline;
    
}
nav img {
    height: 20px;
}
main {
    width: 50%;
    margin: 6.9em auto;
    text-align: center;
}
main img {
    width: 300px;
    text-align: center;
}

input {
    width: 80%;
    padding: 1em;
    border-radius: 30px;
    border: 1px solid grey;
    
}
input img{
    width: 15px;
}

.btns {
    margin-top: 1em;
}
.btns button {
    padding: 1em;
    border: none;
}
footer {
    background-color: grey;
}
.footer-upper {
    padding: 1em;
    background-color: rgb(199, 196, 196);
}
.footer-lower {
    background-color: rgb(199, 196, 196);
    border: 1px solid rgb(218, 216, 216);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    
}
.left a {
    color: black;
    text-decoration: none;
    margin-right: 1em;
}
.right a {

    margin-right: 1em;
    color: black;
    text-decoration: none;
}